<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mybrary</title>
</head>
<body>
  <div class="cities content">
    <h2>All cities</h2>

    <% if(cities.length > 0) { %>
      <% cities.forEach(city => { %>
        <h3 class="title"><%= city.name %></h3>
        <p class="snippet"><%= city.info %></p>
        <% }) %>
    <%} else { %>
      <p>There are no cities saved</p>
        <% } %>

  </div>
</body>
</html>